<mat-toolbar color="primary" *ngIf="navbar.visible">
  <span>
    Drive&Win
  </span>
  <span class="fill-remaining-space"></span>
  <button mat-button (click)="navbar.profil()">Profil</button>
  <button mat-button (click)="navbar.historique()">Historique</button>
  <button mat-button (click)="navbar.lastTrip()">LastTrip</button>
  <button mat-button (click)="navbar.controller()">Controller</button>
  <button mat-button (click)="navbar.settings()">Settings</button>
  <button mat-button (click)="navbar.logout()">Logout</button>

</mat-toolbar>
