.container{
  margin:0 auto;
    width:50%;
    height:50%;
}
.form-group{
  padding: 10px;
}
.register{
 display: flex;
}

.qst{
  margin-top: 10px;

}
.button{
  padding: 5%;
  text-align: center;
}
.select{
  width: fit-content;
}
